@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply bg-white rounded-xl shadow-md hover:shadow-xl transition p-5;
  }

  .btn-primary {
    @apply bg-teal-600 text-white px-4 py-2 rounded-lg hover:bg-teal-700 transition;
  }

  .chip {
    @apply px-4 py-1 rounded-full border border-teal-500 text-teal-600 cursor-pointer hover:bg-teal-50;
  }
}
